# Entorno virtual de Python
venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración sensible
.env

# Carpeta storage (ej. logs, archivos subidos, etc.)
storage/